body {
    background-image: url("a-hacking-background-with-binary-and-hexdecimal-code-on-a-screen-video(1).jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
h1 {
    color: limegreen;
    position: relative;
    left: 260px;
    top: 70px;
    font-family: "press start 2p"
}
.img_goa {
    float: right;
}
.img_goaa {
    position: relative;
    left: 150px;
    bottom: 20px;
}
h3 {
    color: limegreen;
    position: relative;
    left: 340px;
    top: 100px;
}
#box1{
    border: 1px solid;
    position: relative;
    width: 900px;
    left: 125px;
    background-color:  limegreen;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 20px;
}
#box2{
    border: 1px solid;
    position: relative;
    width: 700px;
    left: 455px;
    background-color: limegreen;
    top: 55px;
     color: white;
    padding: 20px;
    text-align: center;
    margin: 20px;
}

.scrollable-vertical {
    height: 3000px; /* Set the height of the scrollable area */
    overflow-y: auto; /* Enables vertical scrolling */
    border: 1px solid #ccc; /* Optional: Add border to visualize the scrollable area */
    padding: 10px; /* Optional: Add padding inside the scrollable area */
}
.img_goaaa{
    position: relative;
    bottom: 30px;
}
#box3{
    border: 1px solid;
    position: relative;
    width: 700px;
    left: 400px;
    background-color:  limegreen;
    bottom: 199px;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 20px;
}

#box4{
    border: 1px solid;
    position: relative;
    background-color:  limegreen;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 20px;
    width: 500px;
}

.img {
    bottom: 250px;
    left: 630px;
    position: relative;
}
.imig {
    position: relative;
    right: 500px;
    bottom: 120px;
}
.imgggg{
    position: relative;
    left: 290px;
    bottom: 400px;
}
.imi {
    position: relative;
    top: 375px;
    right: 650px;
}
#box5{
    border: 1px solid;
    position: relative;
    background-color: limegreen;
    left: 500px;
    bottom: 10px;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 20px;
    width: 500px;
}


h2{
    color: limegreen;
    position:   relative;
    width: 250px;
    left: 100px;
    top: 290px;
}
a {
    color:  limegreen;
    padding: 20px;
     text-align: center;
     margin: 20px;
     width: 500px
}
.imgtm {
    position: relative;
    left: 600px;
    bottom: 75px;
}

video {
    position: relative;
    width: 500px;
    display: compact;
    right: 500px;
    height: 340px;
    bottom: 140px;
}
